<div style="text-align:center">
  <h2>Editing Book</h2>
  
  
  <% if @book.errors.any? %>
      <div>
        <h2><%= pluralize(@book.errors.count, "error") %> prohibited this obj from being saved:</h2>
  
        <ul>
          <% @book.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
  <% end %>
  <%= form_with(model: @book, local: true) do |form| %>
    
  
    <div>
      <%= form.label :title, style: "display: block" %>
      <%= form.text_field :title %>
    </div>
  
    <div>
      <%= form.label :body, style: "display: block" %>
      <%= form.text_field :body %>
    </div>
  
    <div>
       <input class="btn btn-success" type="submit" value="Update Book">
    </div>
  <% end %>
  
  <div>
    <%= link_to "Show", @book %> |
    <%= link_to "Back", books_path %>
  </div>
</div>